baseURL = "https://michaelraymond.info"
title = "Shell-o World!"
# author = "Michael"
# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
ignoreErrors = ["error-remote-getjson"]

[Params]
  # Note: This is for the meta description, which is different from the "description" displayed in the terminal.
  description = "Meta title"
  [Params.Terminal]
  # Note: color schema
  # Note: You can choose between
  # Note: ["monokai", "powershell", "gruvbox_light", "gruvbox_dark", "solarized_light", "solarized_dark", "ubuntu", "retro"]
  # Note: If you want to use the Goph theme, set it to "goph" (See README.md)
  schema = "ubuntu"

  # Note: in terminal
  # [userName]@[pcName]:~/$ cd [workDir]
  # [userName]@[pcName]:~/[workDir]$ cat [profile]
  #
  # [description]
  #
  # Note: if you set Params.Tree > use = true
  # [userName]@[pcName]:~/[workDir]$ tree ./[folderName]/
  # ./[folderName]/
  # ...
  # Note: result of the tree command
  userName = "michael"
  pcName = "macbook-with-stickers"
  workDir = "my_site"
  profile = "about.txt"

  # Note: speed at which text is displayed on the terminal
  # Note: if set to 0, typing animation will be disabled
  # Note:
  # Note: if you want to enable Mathjax, you need to set it to 0
  # Note: and set "math: true" at front matter in your Markdown file
  terminalDelay = 0.001

  # Note: speed at which text is displayed on the activity pages
  # Note: if set to 0, typing animation will be disabled
  # Note: 
  # Note: if you want to enable Mathjax, you need to set it to 0
  # Note: and set "math: true" at front matter in your Markdown file
  activityDelay = 0.001

  description = """
  Hey there, I'm Michael!
  I'm a music playing, animal loving, improv performing, software developing human.
  - Always learning computer things
  - Pet Poppa to a dog and 2 cats
  - I may not play very much music, but I sure love listening
  
  Friendly reminder to relax your shoulders, unclench your jaw, and take a deep breath...

  """

  # Note: If you want to use a Markdown file, you can use the following
  # description = "/description.md"
  # Note: and put the description.md in /content/description.md

  [Params.Tree]
  use = true
  folderName = "me_elsewhere"
  # Note: ["ACTIVITY", "URL or PATH TO YOUR MARKDOWN FILE"]
  files = [ 
    ["LinkedIn", "https://www.linkedin.com/in/mjraymond"],
    ["Github", "https://github.com/mjr2595"],
    ["(My dog's) Instagram", "https://www.instagram.com/heytherejace"],
    ["Apple Music", "https://music.apple.com/profile/_rayray"],
  ]

[module]
  [module.hugoVersion]
    extended = true
    min = "0.85.0"
